* {
	text-align: center;
	color: gray;
	background-color: black;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	padding-bottom: 15px;
}

h1 {
	padding-top: 35px;
	padding-bottom: 20px;
	font-family: 'Archivo Black', sans-serif;
	color: gray;
	font-size: 45px;

}